# Logs

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / Frontend

node_modules
dist
dist-ssr
build
.vite
*.local


# Python / Backend

**pycache**/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual Environment

venv/
env/
ENV/

# Environment variables

.env
.env.*
!.env.example

# OS Files

.DS_Store
Thumbs.db


# Editor directories and files

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc

coverage/
.cache/
tmp/
implementation_plan.md
walkthrough.md
